-#.home-panel.clearfix
-#  = render partial: 'layouts/home_panel'
.left
  = render partial: 'layouts/tours_block'
  = render partial: 'layouts/country'
.right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'