.left.static-page-left
  .order
    %h1 Заявка на тур
    = render 'form'
.right.static-page-right
  = render partial: 'layouts/tour_type'
  = render partial: 'layouts/news'
  = render partial: 'layouts/attention'