// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.active_tour {
  border-bottom: 1px solid #000;
}

#columns {
  #side {
    float: right;
    padding: 2em;
    width: 19em;
  }
  #main {
    float: left;
    padding: 2em;
    width: 50em;

  }
}


