.country-block
  %ul
    - @countries.each do |country|
      %li
        %span.flag{country: "#{country.title}"}
        = link_to country.title, tours_path(country: country.id)

        -#%span{ class: country.title.parametrize } #россия => rossia
        -#
        -## css
        -#
        -#span
        -#  background-image:
        -#  &.russia
        -#    background-position: 0 -12px
        -#  &.ukraina
