.row
  .btn-register.span2
    %a= link_to "Заявка на тур", "#", class: 'btn', remote: true
  .phone.span3
    %dl
      %dd
        Телефоны:
      %dd
        %span.number
          +375 29
          %span.bold 127 86 06
        %span.number
          +375 29
          %span.bold 127 86 06
  .adress.span4
    %dl
      %dd
        Наш офис:
      %dd
        = link_to "Республика Беларусь, г. Минск, пер. Тучинский, 2-34", "#"