.news
  .news_title
    Новости
  - @news.each do |news|
    .news_date
      = news.created_at.strftime("%B %e, %Y")
    .news_item
      = link_to news.title , news_path(news)
  .all_news
    = link_to "Архив новостей", news_index_path