<div class="share" class="clearfix">
  <div class="share_fb">
    <div class="fb-like" href="" data-width="120" data-layout="button_count" data-show-faces="true" data-send="false"></div>
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </div>

  <div class="share_gp">
    <!-- Поместите этот тег туда, где должна отображаться кнопка +1. -->
    <g:plusone size="medium"></g:plusone>
    <!-- Поместите этот вызов функции отображения в соответствующее место. -->
    <script type="text/javascript">
        window.___gcfg = {lang: 'ru'};

        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
    </script>
  </div>

  <div class="share_tw">
    <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    <script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = "//platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, "script", "twitter-wjs");</script>

  </div>


  <div class="share_vk">

    <!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="http://vk.com/js/api/share.js?11" charset="windows-1251"></script>

    <!-- Put this script tag to the place, where the Share button will be -->
    <script type="text/javascript"><!--
    document.write(VK.Share.button(false, {type: "round", text: "Сохранить"}));
    --></script>

  </div>
</div>